<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [ngClass]="!isLargeScreen ? 'espacio_css' : ''" slot="start">
      <ion-back-button text="Regresar" defaultHref="/register"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" [ngClass]="!isLargeScreen ? 'espacio_css' : ''">Políticas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="policies-container">
    <h2>Política de Privacidad - QuickMail</h2>
    <p><strong>Fecha de entrada en vigor:</strong> 1 de abril del 2025</p>

    <p>En <strong>QuickMail</strong> valoramos tu privacidad y nos comprometemos a proteger tus datos personales. Esta
      política de privacidad explica cómo recopilamos, usamos, almacenamos y compartimos la información que proporcionas
      al usar nuestra aplicación.</p>

    <h3>1. Información que recopilamos</h3>
    <p>Recopilamos información personal, como tu nombre, dirección de correo electrónico, y datos relacionados con tu
      cuenta de usuario. Además, con tu consentimiento, podemos recopilar datos de ubicación para ofrecerte funciones de
      búsqueda y mapeo basadas en tu ubicación actual. También podemos acceder a la cámara de tu dispositivo si decides
      utilizarla para agregar imágenes a tu cuenta o enviar correos.</p>

    <h3>2. Uso de la Información</h3>
    <p>Utilizamos la información recopilada para ofrecerte una experiencia personalizada en la app, como enviar y
      recibir correos, ofrecerte sugerencias basadas en tu ubicación, y mejorar el rendimiento general de la aplicación.
      No compartimos tu información con terceros sin tu consentimiento, excepto cuando sea necesario para cumplir con la
      ley o procesos legales.</p>

    <h3>3. Acceso a la Ubicación y Cámara</h3>
    <p><strong>QuickMail</strong> solicita acceso a la ubicación de tu dispositivo para proporcionarte funciones de
      mapeo y otras características relacionadas con la ubicación. También solicitamos acceso a la cámara solo si
      decides usarla para cargar imágenes. El acceso a estos servicios es opcional, y siempre puedes denegar el acceso
      desde la configuración de tu dispositivo.</p>

    <h3>4. Protección de Datos</h3>
    <p>Tomamos medidas razonables para proteger tus datos personales de accesos no autorizados, uso indebido,
      divulgación, alteración y destrucción.</p>

    <h3>5. Modificaciones</h3>
    <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Las modificaciones serán
      efectivas cuando se publiquen en esta página. Te recomendamos revisar periódicamente nuestra política.</p>

    <h3>6. Contacto</h3>
    <p>Si tienes alguna pregunta o inquietud sobre nuestra Política de Privacidad, no dudes en ponerte en contacto con
      nosotros a través de nuestro soporte en la app o en el correo electrónico
      <a href="mailto:soporte&#64;quickmail.com">soporte&#64;quickmail.com</a>.
    </p>
    <hr>

    <h2>Términos y Condiciones - QuickMail</h2>
    <p><strong>Fecha de entrada en vigor:</strong> [Fecha]</p>

    <p>Estos términos y condiciones rigen el uso de la aplicación <strong>QuickMail</strong> y los servicios
      proporcionados a través de ella. Al usar nuestra app, aceptas cumplir con estos términos.</p>

    <h3>1. Uso de la Aplicación</h3>
    <p>Al usar <strong>QuickMail</strong>, te comprometes a usarla solo para fines legales y a no realizar actividades
      que puedan dañar el funcionamiento de la aplicación o interferir con su acceso por parte de otros usuarios.</p>

    <h3>2. Propiedad Intelectual</h3>
    <p>Todos los derechos de propiedad intelectual relacionados con <strong>QuickMail</strong>, incluyendo el diseño, el
      contenido, el código y la funcionalidad de la aplicación, son propiedad exclusiva de <strong>QuickMail</strong> o
      de sus licenciantes.</p>

    <h3>3. Registro de Usuario</h3>
    <p>Para utilizar algunos servicios de <strong>QuickMail</strong>, debes crear una cuenta proporcionando información
      precisa y actualizada. Eres responsable de mantener la confidencialidad de tu cuenta y contraseña.</p>

    <h3>4. Uso de la Ubicación y la Cámara</h3>
    <p>Al usar la app, consientes el acceso a la ubicación de tu dispositivo y la cámara para facilitar las
      funcionalidades de la app que dependen de estos servicios. Puedes deshabilitar estos permisos en cualquier momento
      a través de la configuración de tu dispositivo.</p>

    <h3>5. Modificaciones de la Aplicación</h3>
    <p><strong>QuickMail</strong> se reserva el derecho de modificar, suspender o descontinuar la aplicación o cualquier
      parte de ella en cualquier momento y sin previo aviso.</p>

    <h3>6. Limitación de Responsabilidad</h3>
    <p><strong>QuickMail</strong> no será responsable por cualquier daño directo, indirecto, incidental, especial o
      consecuente derivado del uso de la aplicación, incluyendo pero no limitado a la pérdida de datos o la interrupción
      del servicio.</p>

    <h3>7. Terminación</h3>
    <p>Nos reservamos el derecho de suspender o finalizar tu acceso a <strong>QuickMail</strong> en caso de que violes
      cualquiera de los términos establecidos en este acuerdo.</p>

    <h3>8. Cambios en los Términos</h3>
    <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones
      serán efectivas cuando se publiquen en esta página. Te recomendamos revisar regularmente estos términos.</p>

    <h3>9. Contacto</h3>
    <p>Si tienes preguntas sobre estos Términos y Condiciones, puedes ponerte en contacto con nosotros a través de
      <a href="mailto:soporte&#64;quickmail.com">soporte&#64;quickmail.com</a>.
    </p>
  </div>
</ion-content>
