<ion-content [fullscreen]="true">
  <div id="register-container"  [ngClass]="!isLargeScreen ? 'espacio_css' : ''">
    <strong>Registro de Usuario</strong>

    <div class="scroll-container">
      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="ejemplo@correo.com" (input)="validateForm()"></ion-input>
      </ion-item>
      <p *ngIf="!emailValid && email.length > 0" class="error-msg">Correo inválido</p>

      <ion-item>
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-input type="text" [(ngModel)]="fullName" placeholder="Juan Pérez" (input)="formatFullName()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" placeholder="Usuario123" (input)="removeSpaces()" (input)="validateForm()"></ion-input>
      </ion-item>
      <p *ngIf="username.includes(' ')" class="error-msg">El usuario no puede contener espacios</p>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="********" (input)="validatePassword()"></ion-input>
      </ion-item>
      <p *ngIf="!passwordValid && password.length > 0" class="error-msg">
        La contraseña debe contener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial.
      </p>

      <ion-item>
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" placeholder="********" (input)="validateForm()"></ion-input>
      </ion-item>
      <p *ngIf="password && confirmPassword && password !== confirmPassword" class="error-msg">
        Las contraseñas no coinciden
      </p>

      <!-- Mostrar contraseñas -->
      <ion-item>
        <ion-label>Mostrar Contraseñas</ion-label>
        <ion-checkbox [(ngModel)]="showPassword"></ion-checkbox>
      </ion-item>

      <!-- Aceptar políticas -->
      <ion-item>
        <ion-label>
          <ion-checkbox [(ngModel)]="acceptPolicies" (ionChange)="validateForm()"></ion-checkbox>
          Acepto las <a href="/politicas">políticas de privacidad</a> y los <a href="/politicas">términos y condiciones</a>.
        </ion-label>
      </ion-item>

      <ion-button expand="full" [disabled]="!formValid || !acceptPolicies" (click)="registerUser()">Registrarse</ion-button>
      <ion-button expand="full" fill="clear" class="register-btn" (click)="navCtrl.navigateBack('/home')">
        ¿Ya tienes cuenta? Iniciar sesión
      </ion-button>
    </div>
  </div>
</ion-content>
