// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
.container_css {
  margin-top: 0rem !important;
}

ion-header {
  box-shadow: none !important;
  // margin-top: 1rem !important;
}


.espacio_css{
  background-color: rgb(255, 255, 255) !important;
  margin-top: 1.9rem !important;
}
